<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout(~{::title}, ~{::main})}">
<head>
  <title>블로그 글 작성/수정</title>
</head>
<body>
<main class="flex-grow container mx-auto px-4 max-w-3xl">
  <div class="bg-white shadow-2xl rounded-lg overflow-hidden p-8 transform hover:scale-105 transition duration-300">
    <article>
      <input type="hidden" id="article-id" th:value="${article.id}">

      <header class="mb-6">
        <input type="text" class="w-full px-4 py-3 text-2xl font-semibold border-b-2 border-purple-300 focus:border-purple-500 transition duration-300 bg-transparent focus:outline-none" placeholder="제목을 입력하세요" id="title" th:value="${article.title}">
      </header>
      <section class="mb-6">
        <textarea class="w-full px-4 py-3 text-gray-700 border-2 border-purple-200 rounded-lg focus:border-purple-500 focus:outline-none transition duration-300 min-h-[200px]" rows="10" placeholder="당신의 이야기를 들려주세요..." id="content" th:text="${article.content}"></textarea>
      </section>
      <div class="flex justify-end space-x-4">
        <button th:if="${article.id} != null" type="button" id="modify-btn" class="bg-gradient-to-r from-purple-500 to-pink-500 hover:from-purple-600 hover:to-pink-600 text-white font-semibold py-2 px-6 rounded-full transition duration-300 ease-in-out flex items-center shadow-lg">
          <i data-feather="edit-2" class="mr-2"></i> 수정하기
        </button>
        <button th:if="${article.id} == null" type="button" id="create-btn" class="bg-gradient-to-r from-green-400 to-blue-500 hover:from-green-500 hover:to-blue-600 text-white font-semibold py-2 px-6 rounded-full transition duration-300 ease-in-out flex items-center shadow-lg">
          <i data-feather="plus" class="mr-2"></i> 발행하기
        </button>
      </div>
    </article>
  </div>
</main>
</body>
</html>